/* static/css/base.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff2f2;
}

main {
    max-width: 2000px;
    margin: 20px auto;
    padding: 20px;
}

/*Header and footer styles*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(190, 177, 177);
    color: black;
    text-align: center;
    padding: 10px;
}

/*More generic styles*/
h1 {
    color: #018504;
}
h2 {
    color: #ff7300;
}
h3 {
    color: black;
    font-weight: bold;
}
p {
    margin: 5px 0;
}
a {
    color: blue;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*Form styles*/
form {
text-align: center;
}
label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="datetime-local"] {
    width: 15%;
    padding:10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
}
input[type="file"] {
    width: 65%;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
input[type="dropdown"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/*Textarea style*/
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}
button {
    padding: 5px 10px;
    background-color: #007bff;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.button-container {
    float: left;
    clear: left;
}

/*Arrange header items*/
.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

/*Arrange 3 column header items*/
.three-col-header {
    display: flex;
    justify-content: space-between;
}
.left {
    text-align: left;
}
.middle {
    text-align: center;
}
.right {
    text-align: right;
}

/*Genereic container styles*/
.container-left {
    margin: 0 auto;
    width: 300px;
    display: inline-block;
    flex-direction: column;
    align-content: center;
    text-align: left;
    max-width: 1500px;
}
.container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    max-width: 1500px;
}
.two-column-container {
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    column-gap: 200px;
}

/*Table styles*/
table {
    border-collapse: separate;
    text-align: right;
    width: 100%;
    border-spacing: 0 5px;
    white-space: nowrap;
}
caption {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: transparent;
}
th, td {
    padding: 10px;
}

/* Styled table with hover effects */
.table-styled {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-styled th, .table-styled td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

.table-styled tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-styled tr:hover {
    background-color: #ddd;
}

.table-styled th {
    background-color: #508c51;
    color: white;
}


/*Pagination styles*/
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination a, .pagination span {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #333;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .current {
    font-weight: bold;
    background-color: #333;
    color: white;
}

.pagination .disabled {
    color: #999;
    pointer-events: none;
}


