{% extends "base.html" %}
{% block title %}Book Detail{% endblock title %}
{% block content %}

<p><a href="{% url 'home' %}">Home</a></p>

<div class="container">
    <h1>{{ book.title }}</h1>
    <p>Author: {{ book.author.full_name }}</p>
    <p>Genre: {{ book.genre.name }}</p>
    <p>Release Year: {{ book.release_year }}</p>
    <p>Quantity: {{ book.quantity }}</p>
    <p>Currently Borrowed Count: {{ book.currently_borrowed_count }}</p>
    <p>Active Reservations Count: {{ book.active_reservations_count }}</p>
    <p>Total Borrowed Count: {{ book.total_borrowed_count }}</p>
    <p>Borrow Count Last Year: {{ book.borrow_count_last_year }}</p>
</div>

<br><br>

{% if book.is_available and not book.user_has_reservation and not book.user_has_any_active_reservation %}
    <form method="post" action="{% url 'book_detail' book.id %}">
        {% csrf_token %}
        <button type="submit" name="reserve">Reserve</button>
    </form>
{% elif book.user_has_reservation %}
    <form method="post" action="{% url 'book_detail' book.id %}">
        {% csrf_token %}
        <button type="submit" name="cancel_reservation">Cancel Reservation</button>
    </form>
{% elif not book.is_available %}
    {% if not book.user_has_wish %}
        <form method="post" action="{% url 'book_detail' book.id %}">
            {% csrf_token %}
            <button type="submit" name="wish">Make a Wish</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'book_detail' book.id %}">
            {% csrf_token %}
            <button type="submit" name="remove_wish">Remove Wish</button>
        </form>
    {% endif %}
{% else %}
    <p>This book is currently unavailable for reservation.</p>
{% endif %}

{% endblock content %}
